[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nft-editions"]
	path = lib/nft-editions
	url = https://github.com/showtime-xyz/nft-editions
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
